/* You can add global styles to this file, and also import other style files */
.container{
    background-color: #f8f9fa;
    border-radius: 2%;
    min-height: 90vh;
    padding: 5vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.filters-container{

    display: flex;
    justify-content: start;
    flex-wrap:wrap ;
    gap: 3%;

}

::ng-deep .p-card {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important; /* or 0 to remove completely */
  }
  
  ::ng-deep .p-card-body {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    align-items: center;
  }

  .box-style {
    position: relative;
    overflow: hidden;
  }
  
  /* Decorative top border */
  .box-style::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    color: #001845;
    background: linear-gradient(to right, #001845, rgba(0, 24, 69, 0.1));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    pointer-events: none;
  }
  
  h{
    color: #0d1763;
  }