<div class="col-12">
  <div class="title py-2">
<h4>Dashboard</h4>
  </div>
</div>

  <div class="mt-5 col-12">
    <div class="row">
      <div class="d-flex flex-row justify-content-between w-100" style="height: 400px;">
  
        <!-- Line Chart on the Left -->
        <div class="col-md-8 p-card">
          <div class="row">
        <div class="col-8 mt-4 ">
        
            <p-chart 
              type="line" [data]="lineChartData"   [options]="lineChartOptions">
            </p-chart>
        
        </div>
        <div class="col-4 d-flex justify-content-center align-items-end">
 
            <p-chart type="pie" [data]="transactionTypeData"   [options]="{ plugins: { legend: { position: 'bottom' } } }"  [responsive]="true"></p-chart>
 
        </div>
      </div>
        </div>
  
        <!-- Cards on the Right -->
        <div class="col-md-4 p-2">
         <div class="p-card">
          <p-chart 
          type="bar" 
          [data]="transactionStatusChart" 
          styleClass="w-100" 
          style="height: 400px;">
        </p-chart>
        </div>

      
          <div *ngFor="let card of cards1" class="col-12 px-3">
            <div class="p-card">
            <div class="p-card-body box-style mt-3">
             <h5 style="color: #001845; text-align: center;">{{ card }}</h5>
            </div>
            </div>       
        </div>
        
    
    
      </div>

      
    </div>
  </div>
</div>




